@import  '../../../utils/var';

.primary {
    background: $primary;
    @extend %btn;
    @extend %textbtn;   
    margin-top: 10px;
    cursor: pointer;
}

.success {
    background: $success;
    @extend %btn;
    @extend %textbtn;   
    margin-top: 10px;
    cursor: pointer;
}

.disabled {
    background: #AFAFAF;
}